.App {
  text-align: center;
}

.App-header {
  background-image: url('./images/ZZZ\ bg.jpeg'); /* Adjust path if necessary */
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.profile-card {
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile-card.expanded {
  width: 250px;
  transform: scale(1.05);
}

.profile-card img {
  width: 100%;
  border-radius: 8px;
}

.profile-card h2 {
  font-size: 1.2rem;
  color: #000;
  margin: 10px 0;
}

.profile-details {
  margin-top: 10px;
}

.profile-details p {
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
}
